
/*LE FOOTER*/

footer{
    padding: 25px 0;
    color: #212121;
    background:rgb(233, 222, 222) ;
    text-transform: lowercase;
      }

.footer .média{
    text-align: center;
    padding-bottom: 20px;
   color: #212121;
        }

.footer .média a{
    font-size: 30px;
    width: 40px;
    color: inherit;
    border: 1px;
    height: 40px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 40px;
    margin: 0 5px;
    opacity: 0.80;
                 }

.footer .média a:hover{                
    opacity: 0.9;
    color: #f9423d;
                    }

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
        }
        
.footer ul li a {
    color: #212121;
    text-decoration: none;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
            }

.footer ul li a:hover {
    opacity: 1;
    color: #f9423d;
                     }

.footer p{
   margin-top: 15px;
   font-size: 13px;
   text-align: center;
   color: #aaa;
        }

.footer p:hover{
    color: #f9423d; 
               }
